li {
  list-style-type: none;
}

.product-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 0.5rem;
  margin: 5rem auto;
  background-color: #4b4b4b;
}
